#header-div {
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
    padding: 20px;
}


#header-div h1 {
    font-family: 'Arial', sans-serif;
    font-size: 50px;
    text-align: center;
    margin: 0;
    
}

#header-div img {
    width: 70%;
    
}

button {
border: none;
border-radius: 5px;
cursor:pointer;
}

button:hover {
    background-color: aliceblue;
}

