ul {
    list-style-type: none;
    padding: 0;
  }

  button {
    width: 150px;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: #eaef55;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
   p {
    color:coral;
    font-size: 30px;
    font-weight: 400;
   }
  
  